<!doctype html>
<html>

<head>
    <title> Template Page </title>
    <meta name="description" content="Our first page">
    <meta name="keywords" content="html tutorial template">
</head>

<body>
    Template works
    <br> {{name}} is from {{place}}

    <h1>Welcome to text analyzer</h1>
    <form action="/removepunc" method="get">
        <!-- whenever submit button is clicked then the action removepunc will execute and the data of the form will go to the removepunc function -->

        <textarea name="text" style="width: 335px; height: 187px;"></textarea>
        <br>
        <input type="checkbox" name="removepunc"> remove punctuations <br>

        <input type="checkbox" name="fullcaps"> Make Capital <br>

        <input type="checkbox" name="charcount"> Character count <br>

        <button type="submit">Analyze Text</button>
    </form>






</body>

</html>